<section>
    <h1>Prices</h1>

    <h3>operacje finansowe w Pythonie</h3>

    <p>
        <small><a href="http://ociepka.info/">Michał Ociepka</a> / <a
                href="http://twitter.com/michalociepka">@michalociepka</a></small>
    </p>
</section>

<section>
    <h1>Agenda</h1>

    <ol>
        <li class="fragment stretch">Dlaczego nie float?</li>
        <li class="fragment stretch">Decimal na ratunek.</li>
        <li class="fragment stretch">Na deser Prices.</li>
    </ol>
    <aside class="notes">
        W pierszej części prezentacji omówię dlaczego floaty nie nadają się do repraezetacji cen.
        Następnym krokiem będzie omówienie w jaki sposób ratują nas Decimale i jakie problemy rozwiązują.
        I na deser kilka słów o dodatkowej abstrakcji która rozwiązuje problemy na najwyższej warstwie.
    </aside>
</section>
