<section>
    <section>
        <h2>Python price handling for humans</h2>
        <p><a href="https://github.com/mirumee/prices">https://github.com/mirumee/prices</a></p>
        <ul class="fragment">
            <li>obsługa ceny netto, brutto</li>
            <li>obsługa zniżek oraz podatków</li>
            <li>obsługa wielu walut</li>
            <li>proste debugowanie dzięki historii operacji na obiekcie</li>
            <li>możliwość definiowania przedziałów cenowych</li>
        </ul>
        <aside class="notes">
            Sam obiekt Prices to zwykła namedtupla która zawiera w sobie, cenę
            netto, brutto, walute i obiekt historii. Ceny są oczywiście zapisywane
            jako decimale.
        </aside>
    </section>

    <section>
        <h2>ceny netto, brutto</h2>
        <pre><code class="python">>>> from prices import Price
>>> Price('1.99') + Price(50)
Price('51.99', currency=None)</code></pre>
        <pre><code class="python">>>> from prices import Price
>>> price = Price(net='1', gross='1.2') + Price(net=2, gross=4)
>>> price
Price(net='3', gross='5.2', currency=None)
>>> price.net
Decimal('3')
>>> price.gross
Decimal('5.2')
>>> price.tax
Decimal('2.2')</code></pre>
    </section>

    <section>
        <h2>zniżki oraz podatki</h2>
        <pre><code class="python">>>> from prices import Price
>>> price = Price('1.99')
>>> tax = LinearTax('0.23', '23% VAT')
>>> tax.apply(price)
Price(net='1.99', gross='2.4477', currency=None)</code></pre>
    </section>

    <section>
        <h2>wiele walut</h2>
        <pre><code class="python">>>> from prices import Price, LinearTax
>>> Price('1.99', currency='PLN')
Price('1.99', currency='PLN')</code></pre>
    </section>

    <section>
        <h2>histora operacji</h2>
        <pre><code class="python">>>> from prices import Price, LinearTax
>>> price = Price('1.99') + Price(50) | LinearTax('0.23', '23% VAT')
>>> inspect_price(price)
((Price('1.99', currency=None) + Price('50', currency=None)) | LinearTax('0.23', name='23% VAT'))
        </code></pre>
    </section>

    <section>
        <h2>możliwość definiowania przedziałów cenowych</h2>
        <pre><code class="python">>>> from prices import Price, LinearTax
>>> price = Price(70)
>>> price_range = PriceRange(Price(50), Price(100))
>>> price in price_range
True</code></pre>
    </section>

    <section>
        <h2>Prices na straży</h2>

        <pre><code class="python">>>> Price(1.2)
__main__:1: RuntimeWarning: You should never use floats when dealing with prices!
Price('1.1999999999999999555910790149937383830547332763671875', currency=None)</code></pre>

        <pre class="fragment"><code class="python">>>> Decimal('2.5').quantize(Decimal('0'))
Decimal('2')
>>> Price('2.5').quantize(Decimal('0'))
Price('3', currency=None)</code></pre>

        <pre class="fragment"><code class="python">>>> Price(10, currency='USD') + Price(10, currency='PLN')
ValueError: Cannot add price in 'USD' to 'PLN'</code></pre>

        <pre class="fragment"><code class="python">>>> Price(10, currency='USD') < Price(10, currency='PLN')
ValueError: Cannot compare prices in 'USD' and 'PLN'</code></pre>
    </section>
</section>
